DATABASE_URL=postgresql://postgres:postgres@localhost:5432/crm_db
JWT_SECRET=sua_chave_super_segura
NODE_ENV=development
PORT=5000
CORS_ORIGIN=http://localhost:5173
SEED_USER_EMAIL=admin@crm.local
SEED_USER_PASSWORD=123456
SEED_USER_NAME=Admin CRM
